@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
}

.app-loader-state {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    width: 100%;
    min-height: calc(100dvh - 120px) !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
